<%= form_for(contact) do |f| %>
  <% if contact.confirming.blank? %>
    <% if contact.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

        <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% else %>
    <h3>以下の内容で、送信する。</h3>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :email %>
    <%= f.hidden_field :content %>

    <p>名前:<%= contact.name %></p>
    <p>メールアドレス:<%= contact.email %></p>
    <p>本文:<%= contact.content %></p>
    <%= f.submit '登録する' %>
    <%= f.submit '戻る', name: :back %>
  <% end %>
  <%= f.hidden_field :confirming %>
<% end %>
